/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){ 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .footer-links ul{
  padding: 0;
 }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  } */

/* @media (max-width: 576px){  */

  @media (max-width: 576px){
    .home_bntext_div {
      width: 60%;
      padding-left: 5px;
    }
    .home_bnimg_div {
      width: 40%;
      overflow: hidden;
    }
    .home_mainbanner{
      padding: 0;
    }
    .home_bnimg {
      padding-left: 0;
      
      margin-left: -69px;
     
      width: 140%;
    }
    .home_bntext {
      color: #fff;
      font-size: 23px;
      line-height: 28px;
  }
  }

  @media (max-width: 768px){ 
   
.nav_section{
  padding: 10px 15px;
}
  .home_define_title {
    
    font-size: 18px;
  }
  .home_define_linkme{
    padding: 20px;
  }
  .home_benefit_inner {
    display: flex;
    flex-direction: column;
    padding: 20PX;
}
.home_benefit_inner1{
  margin-top: 0;
  text-align: center;
}
.home_benefit_img {
  width: 50%;
}
.home_benefit_inner2 {
  padding-left: 20px;
}
.home_benefit_detail {
  padding: 10px;
}

.home_cardimg {
  display: flex;
  flex-direction: column;
}
.home_cardimg_in {
  width:100%;
  padding:0  !important;
} 
.home_cardimg_size {
  width: 80%;
}
.home_cardimg_div {
  text-align: center;
}
.home_review_main>div {
  width: 100%;
}
.home_cardtitle>h2 {
  font-size: 18px;
}
.footer-links, .footer2-section {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.footer-links ul{
  padding: 0;
}
.footer-links>div{
  text-align: center;
}
.footer2-section>div{
  text-align: center;
}
}



@media (max-width:768px) {
    /* ----- navigation -------- */
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #EEEEEE;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    /* ----- navigation -------- */
  }

